# EmailJS Configuration Template
# 1. Sign up for a free account at https://www.emailjs.com/
# 2. Add your Email Service, create a Email Template, and grab your Public Key from Account Settings.
# 3. Rename or copy this file to `.env` and fill in your values below:
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
